@font-face {
	font-family: HelveticaNeuBold;
	src: url(../fonts/HelveticaNeuBold.ttf);
}
@font-face {
	font-family: helvaticaregular;
	src: url(../fonts/helvaticaregular.ttf);
}
@font-face {
	font-family: helveticabold;
	src: url(../fonts/helveticabold.ttf);
}
@font-face {
	font-family: HelveticaNeueLight;
	src: url(../fonts/HelveticaNeueLight.ttf);
}
@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
	font-family: helveticanormal;
	src: url(../fonts/helveticanormal.ttf);
}
html, body {
	overflow-x: hidden;
}

*{
	margin:0;
	padding: 0;
}

body {	
	color: #424242;
	background-color: #ffffff;
}
/*header*/
.header-top{
	background-color: #f0f2f4;
}
.header-content{
	padding-top: 10px;
}
.header-content ul li{
	/*font-family: helveticanormal;*/
	font-size: 15px;
	color: #424242;
	cursor: pointer;
}

.header-content ul li span{
	padding-left: 5px;
}
.fbook {
	background-color: #339AF0;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
}
.header-bottom{
	padding: 40px 0;
}
.custom-nav ul li{
	padding: 0 12px;
}
.custom-nav ul li:last-child{
	padding-right: 0;
}

.custom-nav ul li a{
	font-family: HelveticaNeuBold;
	color: #424242!important;
}
.custom-nav ul .active a{
	color: #de2b24 !important;
}
.custom-nav ul li a:hover{
	color: #de2b24 !important;
}
.custom-nav ul li img{
	padding-top: 13px;
}

.custom-nav ul li button {
	background-color: #de2b24;
	color: white!important;
	margin-right: 0;
	font-size: 16px;
	font-weight: bold;
	font-family: HelveticaNeuBold;
	transition: .3s;
	padding: 10px 15px !important;
}

.custom-nav ul li button:hover {
	background-color: #de2b246e;
	border: none;
	outline: none;
	border: 1px solid white;
}
/*banner*/
.banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.banner-content{
	margin-top: 150px;
	margin-bottom: 170px;
}

.banner-content h1{
	font-size: 48px;
	font-weight: bold;
	font-family: HelveticaNeuBold;
	color: white;
}
.banner-content p{
	font-size: 30px;
	font-weight: 400;
	font-family: HelveticaNeueLight;
	color: white;
}

.banner-content button{
	font-family: HelveticaNeuBold;
	background-color: #f8cd53 !important;
	font-weight: bold;
	font-size: 24px;
	padding: 15px 30px;
	color: #fff;
	transition: 0.3s;
	border: none;
}
.banner-content button:hover{
	    background-color: #e6c975 !important;
}
/*aboutus*/
.aboutus{
	padding: 90px 0;
}
.aboutus-work-approch-text h1{
	font-size: 36px;
	font-weight: bold;
	font-family: HelveticaNeuBold;
}
.aboutus-work-approch-text p{
	font-size: 20px;
	font-weight: 400;
	font-family: HelveticaNeueLight;
}
.aboutus-work-approch-text hr{
	margin: 0 auto;
	width: 50px;
	height: 5px;
	background-color: #424242;
	/*text-align: center;*/
}

.m-t{
	padding-top: 50px;
}
.aboutus-content i{	
	font-size: 50px;
	margin-bottom: 15px;
}
.icon1{
	color: #688fca;
}
.icon2{
	color: #de5940;
}
.icon3{
	color: #f8cd53;
}
.aboutus-content h3{
	font-size: 22px;
	font-weight: bold;
	font-family: HelveticaNeuBold;
}
.aboutus-content p, .approch-text p{
	color: #464444;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
/*approch*/
.approch{
	padding-top: 80px;
	padding-bottom: 90px;
	background-color:#F3F3F3;
}

.approch-content{
	background-color: #fff;
	margin-top: 50px;
}
.approch-content img{
	width: 100%;
}
.approch-count-box{
	height: 100px;
	width: 100px;
	background-color: #de2b24;
	color: #ffffff;    
	z-index: 1;
	border: none;
	border: 1px solid white;
	border-radius: 3px;
}
.box{
	position: absolute;
	top: 60px;
	right: -20px;
}
.box1{
	position: absolute;
	top: 57px;
	left: -20px;
}
.approch-count-box h1{
	font-family: helveticanormal;
	font-weight: 700;
	font-size: 60px;
	position: absolute;
	top: 0px;
	left: 34px;
}
.approch-count-box p{
	font-family: helveticanormal;
	font-weight: 600;
	font-size: 20px;
	position: absolute;
	top: 53px;
	left: 34px;
}
.approch-text{
	padding-top: 62px;

}
.approch-text h1{
	font-family: helveticabold;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
}

/*work*/
.work{
	padding: 100px 0;
	background-color: #de2b24;
}
.text-work{
	background-color: white!important;
}
.m-t{

	margin-top: 40px;
}
.image-content{}
.image-content img{
	width: 100%;
}
.image-info{
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.image-info h1{
	color: #F9BAB8;
	position: absolute;
	top: 65px;
	left: 107px;
}
.image-info h2, .image-info p{	
	font-weight: bold;
	font-family: HelveticaNeuBold;
	color: #fbd5d4;
}
.image-info h2{
	font-size: 26px;
	position: absolute;
	top: 127px;
	left: 55px;
}
.image-info p{
	font-size: 16px;
	position: absolute;
	top: 162px;
	left: 60px;

}
.overlay {
	position:absolute;
	transition:all .3s ease;
	opacity:0;
	transition:0.9s;
	background: #f35e59;
}
.image-content:hover .overlay {
	opacity:1;
}
.overlayleft {
	height:100%;
	width: 0;
	top: 50%;
	right: 50%;
	background: #f35e59;
}
.overlayRight {
	height:100%;
	width:0;
	top:50%;
	right:50%;
	background: #f35e59;
}
.container:hover .overlayleft, .container:hover .overlayRight {
	width:100%;
}
.overlayTop {
	width:100%;
	height:0;
	top: 50%;
	left: 50%;
	background: #f35e59;
}
.overlayBottom {
	width:100%;
	height:0;
	bottom:50%;
	left:50%;
	background: #f35e59;
}
.container:hover .overlayTop, .container:hover .overlayBottom {
	height:100%;
}
.overlayCross {
	width:0;
	height:0;
	top:50%;
	left: 50%;
	background: #f35e59;
}
.container:hover .overlayCross {
	height:100%;
	width:100%;
}
.overlayFade {
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	background: #f35e59;
}
/*fbconnection*/
.fbconnection{
	background-color: #1287bf;
	padding: 90px 0;
}
.btn-custom{
	background-color: #1287bf;
}

.btn-custom:focus, .btn.focus {
	box-shadow: none!important;
}
.collapse-btn{}
.collapse-btn img{
	width: 100%;
}

.collapse_content{

}
.collapse_content p{
	font-family: helveticanormal;
	font-size: 15px;
	font-weight: 500;	
	color: #828282;
	text-align: center;
	padding: 10px 50px;
}
.enable{
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	padding: 50px 0;
}
.collapse_content .custom-close{
	height: 50px;
	width: 50px;
	background-color: #de2b24;
	border: none;
	border-radius: 25px;
	position: absolute;
	top: -15px;
	right: -15px;
	border: 2px solid white;
	transition: .3s;
	color: white;
}
.form-container form{
	padding: 0px 55px;
}
/*gettouch*/
.gettouch{
	padding-top: 85px;
	padding-bottom: 30px;
	background-color: #2a2a2a;
}
.touch-txt h1{
	font-weight: bold;
	font-family: HelveticaNeuBold;
	font-size: 29px;
	color: white;
	margin-bottom: 30px;
}
.social_icons ul li a{
	text-decoration: none;
	padding: 10px 15px;
	font-size: 23px;
	border: 2px solid #515151;
	border-radius: 3px;
	transition: .5s ease;
}
.social_icons a i {
	color: #fff;
}
.newsletter-content{
	padding: 15px 0;
}
.newsletter-content p, .footer-text p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #CECECE;
}
.newsletter .cus-btn{
	background-color: transparent;
	padding: 10px 25px;
	border: none;
	border: 1px solid #515151;
	margin-top: 22px;
	color: white;
}
.newsletter .cus-btn:hover {
	background-color: #515151;
	border-color: none;
}
.newsletter input{
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
	outline: none;
	border: none;
	background-color: #515151;
	
}

footer{
	background-color: #515151;
	padding: 20px 0;
}